@page "{orderId}"
@model SjonnieLoper.Pages.OrderPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete!</h2>

<div class="alert alert-danger">
    Are you sure you want to delete order @*@Model.OrdersAndReservations.Id?*@
</div>

<form method="post">
    <button type="submit" class="btn btn-dark">Yes!</button>
    <a asp-page="Index" class="btn btn-outline-dark">Cancel</a>
</form>
