@page "{orderId}"
@model SjonnieLoper.Pages.OrderPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <h2>Delete!</h2>
</div>

<div class="row">
    <div class="alert alert-danger">
        Are you sure you want to delete order @Model.Order.Id?
    </div>
</div>

<div class="row">
    <form method="post">
        <button type="submit" class="btn btn-dark">Yes!</button>
    </form>
    <a class="btn btn-outline-dark" asp-page="./Index">Cancel</a>
</div>