@page "{OrderId:int}"
@model SjonnieLoper.Pages.OrderPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}


@*<h2>@</h2>*@

@*@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}*@

<div>
    Id:
</div>
<div>
    Brand:
</div>
<div>
    Name:
</div>
<div>
    Type:
</div>
<div>
    Alc%:
</div>
<div>
    Price:
</div>
<div>
    Origin:
</div>
<div>
    Bottled Date:
</div>
<div>
    Amount avaible:
</div>

<a asp-page="./Index" class="btn btn-outline-dark">All Whiskeys</a>
