@page "{whiskeyId:int?}"
@model SjonnieLoper.Pages.WiskeyPages.Create_EditModel
@{
}

<h2>Editing @Model.Whiskey.Name</h2>

<form method="post">

    <input type="hidden" asp-for="Whiskey.Id" />

    <div class="form-group">
        <div class="form-group">
            <label asp-for="Whiskey.Name"></label>
            <input asp-for="Whiskey.Name" class="form-control" />
            <span class="text-danger" asp-validation-for="Whiskey.Name"></span>
        </div>
        <label asp-for="Whiskey.Brand"></label>
        <input asp-for="Whiskey.Brand" class="form-control" />
        <span class="text-danger" asp-validation-for="Whiskey.Brand"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.AgeYears"></label>
        <input asp-for="Whiskey.AgeYears" class="form-control" min="0" />
        <span class="text-danger" asp-validation-for="Whiskey.AgeYears"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Type"></label>
        <select asp-for="Whiskey.Type" class="form-control" asp-items="Model.Types">
        </select>
        <span class="text-danger" asp-validation-for="Whiskey.Type"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.CountryOfOrigin.Country"></label>
        <input asp-for="Whiskey.CountryOfOrigin.Country" class="form-control" />
        <span class="text-danger" asp-validation-for="Whiskey.CountryOfOrigin.Country"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Price"></label>
        <input asp-for="Whiskey.Price" class="form-control" />
        <span class="text-danger" asp-validation-for="Whiskey.Price"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.Percentage"></label>
        <input asp-for="Whiskey.Percentage" class="form-control" />
        <span class="text-danger" asp-validation-for="Whiskey.Percentage"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.ImagePath"></label>
        <select asp-for="Whiskey.ImagePath" class="form-control" asp-items="Model.Images">
        </select>
        <span class="text-danger" asp-validation-for="Whiskey.ImagePath"></span>
    </div>
    <div class="form-group">
        <label asp-for="Whiskey.AmountInStorage"></label>
        <input asp-for="Whiskey.AmountInStorage" class="form-control" min="0" />
        <span class="text-danger" asp-validation-for="Whiskey.AmountInStorage"></span>
    </div>

    <button type="submit" class="btn btn-outline-dark">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    

}

