@page
@model SjonnieLoper.Pages.WiskeyPages.IndexModel
@{
}

<form method="get">
<div class="form-group">
    <div class="input-group">
        <input type="search" class="form-control" asp-for="SearchTerm" />
        <span class="input-group-btn">
            <button class="btn btn-default">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
</div>
</form>

@foreach (var W in Model.whiskeys)
{
    <partial name="_Summary" model="W" />
}
<a asp-page="./Edit" class="btn btn-default">Add New</a>